body {
  margin: 0;
  font-family: Arial, sans-serif;
}

header {
  background: #006d77;
  color: white;
  padding: 15px;
}

nav a {
  color: white;
  margin-right: 15px;
  text-decoration: none;
}

.hero {
  padding: 50px;
  text-align: center;
  background: #edf6f9;
}

.btn {
  background: #83c5be;
  padding: 10px 20px;
  color: black;
  text-decoration: none;
  border-radius: 5px;
}